In [11]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

PATH_1 = "train.csv"
house_train = pd.read_csv(PATH_1)

PATH_2 = "test.csv"
house_test = pd.read_csv(PATH_2)

In [12]:
house_train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [13]:
y = house_train.SalePrice

In [14]:
features = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd', 'LotArea',
'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd','1stFlrSF','2ndFlrSF','LowQualFinSF',
'GrLivArea','FullBath','HalfBath', 'LotArea']

In [15]:
X = house_train[features]
X.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,FullBath,HalfBath,LotArea
0,8450,2003,856,854,2,3,8,8450,7,5,2003,2003,856,854,0,1710,2,1,8450
1,9600,1976,1262,0,2,3,6,9600,6,8,1976,1976,1262,0,0,1262,2,0,9600
2,11250,2001,920,866,2,3,6,11250,7,5,2001,2002,920,866,0,1786,2,1,11250
3,9550,1915,961,756,1,3,7,9550,7,5,1915,1970,961,756,0,1717,1,0,9550
4,14260,2000,1145,1053,2,4,9,14260,8,5,2000,2000,1145,1053,0,2198,2,1,14260

In [16]:

#define model and specify no of random state to ensure same results
house_model = RandomForestRegressor(random_state=1)
house_model.fit(X,y)

RandomForestRegressor(random_state=1)

In [17]:
test_X = house_test[house_features]
test_X.describe()

NameError: name 'house_features' is not defined

In [ ]:
test_pred = house_model.predict(test_X)
print(test_pred)

In [ ]:
# sampling different random forest models
model_1 = RandomForestRegressor(n_estimators=50, random_state=0)
model_2 = RandomForestRegressor(n_estimators=100, random_state=0)
model_3 = RandomForestRegressor(n_estimators=100, criterion='mae', random_state=0)
model_4 = RandomForestRegressor(n_estimators=200, min_samples_split=20, random_state=0)
model_5 = RandomForestRegressor(n_estimators=100, max_depth=7, random_state=0)

models = [model_1, model_2, model_3, model_4, model_5]

In [ ]:
# define a function to calculate the mean absolute error of all datas
    
from sklearn.metrics import mean_absolute_error

def Scoreall(model, X_t=train_X, X_val= val_X, y_t=train_y, y_val=val_y):
    model.fit(X_t,y_t)
    preds = model.predict(X_val)
    return mean_absolute_error(y_val,preds)

for i in range(0, len(models)):
    mae = Scoreall(models[i])
    print("Model %d MAE: %d" % (i+1, mae))

In [ ]:
# Define a model
from sklearn.ensemble import RandomForestRegressor

my_model = RandomForestRegressor(random_state=1)

In [ ]:
# Fit the model to the training data
my_model.fit(X, y)

# Generate test predictions
preds_test = my_model.predict(X_test)

# Save predictions in format used for competition scoring
output = pd.DataFrame({'Id': X_test.index,
                       'SalePrice': preds_test})
output.to_csv('submission.csv', index=False)

In [ ]:
# Shape of training data (num_rows, num_columns)
print(X_train.shape)

# Number of missing values in each column of training data
missing_val_count_by_column = (X_train.isnull().sum())
print(missing_val_count_by_column[missing_val_count_by_column > 0])

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

# Function for comparing different approaches
def score_dataset(X_train, X_valid, y_train, y_valid):
    model = RandomForestRegressor(n_estimators=100, random_state=0)
    model.fit(X_train, y_train)
    preds = model.predict(X_valid)
    return mean_absolute_error(y_valid, preds)

In [ ]:
Fill in the line below: get names of columns with missing values

col_with_missing = [col for col in X_train.columns
                   if X_train[col].isnull().any()] # Your code here

# Fill in the lines below: drop columns in training and validation data
reduced_X_train = X_train.drop(col_with_missing, axis=1)
reduced_X_valid = X_valid.drop(col_with_missing, axis=1)

# Check your answers
step_2.check()

In [ ]:
print("MAE (Drop columns with missing values):")
print(score_dataset(reduced_X_train, reduced_X_valid, y_train, y_valid))

In [ ]:
from sklearn.impute import SimpleImputer

# Fill in the lines below: imputation
my_imputer = SimpleImputer() # Your code here
imputed_X_train = pd.DataFrame(my_imputer.fit_transform(X_train))
imputed_X_valid = pd.DataFrame(my_imputer.transform(X_valid))

# Fill in the lines below: imputation removed column names; put them back
imputed_X_train.columns = X_train.columns
imputed_X_valid.columns = X_valid.columns

# Check your answers
step_3.a.check()

In [ ]:
print("MAE (Imputation):")
print(score_dataset(imputed_X_train, imputed_X_valid, y_train, y_valid))

In [ ]:
Imputation
final_imputer = SimpleImputer(strategy='median')
final_X_train = pd.DataFrame(final_imputer.fit_transform(X_train))
final_X_valid = pd.DataFrame(final_imputer.transform(X_valid))

# Imputation removed column names; put them back
final_X_train.columns = X_train.columns
final_X_valid.columns = X_valid.columns

# Check your answers
step_4.a.check()

In [ ]:
# Define and fit model
model = RandomForestRegressor(n_estimators=100, random_state=0)
model.fit(final_X_train, y_train)

# Get validation predictions and MAE
preds_valid = model.predict(final_X_valid)
print("MAE (Your approach):")
print(mean_absolute_error(y_valid, preds_valid))

In [ ]:
#Preprocess test data
final_X_test = pd.DataFrame(final_imputer.transform(X_test))

# Get test predictions
preds_test = model.predict(final_X_test)

# Check your answers
step_4.b.check()

In [ ]:
# Save test predictions to file
output = pd.DataFrame({'Id': X_test.index,
                       'SalePrice': preds_test})
output.to_csv('submission.csv', index=False)